.categories button {
    width: 100%;
    min-height: 200px;
    margin: 20px 20px 0 0;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    border-color: transparent;
}
.fa-home,
.fa-long-arrow-alt-left {
    font-size:2em;
}